<!doctype html>
<html>
<head>
  <title>Scholarships for Women</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700|Oxygen:400,700|Bad+Script" rel="stylesheet">
</head>

<body class="background">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}


  {% if 'user_id' in session %}

<ul class="nav flex-column">
    <li class="nav-item">
    &nbsp;&nbsp;EmPOWomen
  </li>
  <li class="nav-item">
    <a class="nav-link active" href='/get_user_scholar'>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/scholarships/{{ session['user_id'] }}">Saved Scholarships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/{{ session['user_id'] }}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Log Out</a>
  </li>
</ul>


  {% endif %}




  <div class="container">
    {% block content %} put your content here {% endblock %}
    <div id="twitter">
      <a class="twitter-timeline"  href="https://twitter.com/search?q=girls%20OR%20female%20OR%20women%20scholarship" data-partner="tweetdeck"data-widget-id="884272252883054593">Tweets about girls OR female OR women scholarship</a>
    </div>
  </div>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102150703-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
