<!doctype html>
<html>
<head>
  <title>Scholarships for Women</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700|Oxygen:400,700|Bad+Script" rel="stylesheet">
</head>

<body class="background">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}


  {% if 'user_id' in session %}

<ul class="nav flex-column">
    <li class="nav-item">
    &nbsp;&nbsp;EmPOWomen
  </li>
  <li class="nav-item">
    <a class="nav-link active" href='/get_user_scholar'>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Saved Scholarships</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/{{ session['user_id'] }}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Log Out</a>
  </li>
</ul>


  {% endif %}




  <div class="container"> 
    {% block content %} put your content here {% endblock %}
  </div>

</body>
</html>

