{% extends 'base.html' %}



{% block content %}
    <div>
        <h2>Saved Scholarships</h2>
        <p>
            You will receive email notifications of approaching deadlines for scholarships you've saved.
        </p>
    </div>

    {% for item in scholarships %}

    <div class="card text-center card w-50">
      <div class="card-header">
        {{ item.organization }}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{ item.scholarship_name }}</h4>
        <p class="card-text">
            Amount: {{ item.amount }}<br>


        </p>
        <a href="{{item.url}}" target="_blank" class="btn btn-primary">Apply Online</a>
      </div>
      <div class="card-footer text-muted">Deadline: {{ item.deadline }}

      </div>
    </div>
    <p>
    </p>
{% endfor %}


{% endblock %}
